[submodule "Source/QtInstrumentControl"]
	path = Source/QtInstrumentControl
	url = https://github.com/imperial-photonics/QtInstrumentControl
[submodule "Source/fifo-flim"]
	path = Source/fifo-flim
	url = https://github.com/seanwarren/fifo-flim
[submodule "Source/FLIMreader"]
	path = Source/FLIMreader
	url = https://github.com/flimfit/FLIMreader
	branch = flim-realignment
