[submodule "Source/QtInstrumentControl"]
	path = Source/QtInstrumentControl
	url = https://github.com/imperial-photonics/QtInstrumentControl
[submodule "Source/fifo-flim"]
	path = Source/fifo-flim
	url = https://github.com/seanwarren/fifo-flim
[submodule "Source/QSimpleUpdater"]
	path = Source/QSimpleUpdater
	url = https://github.com/seanwarren/QSimpleUpdater.git
[submodule "Source/FlimReader"]
	path = Source/FlimReader
	url = https://github.com/flimfit/FlimReader.git
	branch = 3d-realignment
[submodule "Source/dlib"]
	path = Source/dlib
	url = https://github.com/seanwarren/dlib/
[submodule "lib/ome-cmake-superbuild"]
	path = lib/ome-cmake-superbuild
	url = https://github.com/seanwarren/ome-cmake-superbuild/